body {
    margin : 0;
    width: 100%;
    background-color: rgba(36,38,51,1);
    opacity: 1;
    background-size: 28px 28px;
    background-image: url(/image/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: rgba(36,38,51,1);
    width: 100%;
    color: whitesmoke;
    display : flex;
    justify-content: space-between;


      
.logo {
    margin:40px;
        display:flex;
        justify-content: center;
        size: 70%;
        top: 0;
        left: 0;
        object-fit: cover;
      }

.box {
    width: 1728px;
    height: 60px;
  }
  
  .box .menu {
    position: fixed;
    width: 1736px;
    height: 60px;
    top: 0;
  }
  
  .box .navbar {
    position: relative;
    width: 1728px;
    height: 60px;
    background-color: #10141b;
  }
  
  .box .eleves {
    width: 82px;
    left: 144px;
    position: absolute;
    top: 11px;

  }
  
  .box .professeurs {
    width: 144px;
    left: 572px;
    position: absolute;
    top: 11px;
   
  }
  
  .box .maisons{
    width: 105px;
    left: 1062px;
    position: absolute;
    top: 11px;
   
  }
  
  .box .sorts {
    width: 70px;
    left: 1513px;
    position: absolute;
    top: 11px;
   
  }}



.boxleft {
    margin: 40px;
    width: 563px;
    height: 752px;
  }
  
  .boxleft .left {
    width: 563px;
    height: 752px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(67, 60, 135) 0%, rgba(67, 60, 135, 0) 100%);
  }
  index.html
  style.css
  styleguide.css

  .boxleft .button {
    position: fixed;
    width: 352px;
    height: 74px;
    top: 0;
    left: 0;
    all: unset;
    box-sizing: border-box;
  }
  
  .boxleft .overlap-group {
    position: relative;
    width: 350px;
    height: 74px;
    background-color: #433c87;
    border-radius: 30px;
  }
  
  .boxleft .joinus {
    position: absolute;
    width: 204px;
    height: 50px;
    top: 17px;
    left: 73px;
   

  }
.footer {
    background-color: black;
    width: 1730px;
    height: 229px;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  
  .footer .overlap-group {
    position: relative;
    width: 1728px;
    height: 229px;
    background-color: #10141b;
  }
  
  .footer .rectangle {
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 65px;
    left: 144px;
    border: 1px solid;
    border-color: #ffffff;
  }
  
  .footer .rs {
    width: 987px;
    height: 24px;
    top: 115px;
    left: 371px;
  }
  
  .footer .reseau {
    display: flex;
    justify-content:center;
    color:white;
    width: 666px;
    height: 30px;
    top: 73px;
    left: 531px;
  }
  .lelosange{
    margin: 40px;
    display: flex;
    justify-content: right;
  }
  